<section id="intro" class="jumbotron text-center">
    <p class="lead text-muted">
        Hello, my name is Jason Reddekopp and I have spent my 6+ year career creating desktop applications, server-side applications, frontend websites and backend servers using C#, .NET, HTML, JavaScript, CSS, JQuery, and IIS.
    </p>
</section>