<section id="portfolio">
    <div class="container">
        <h1 class="display-4">Portfolio</h1>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <span><a href="https://www.clientvantage.ca" target="_blank">ClientVantage eCommerce Platform</a></span>
            </div>
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <p class="card-text">
                    Easily the most complex project I worked on, written in ASP.NET MVC and cloned from the <a href="https://www.nopcommerce.com">nopCommerce</a> open source repo.  ClientVantage is an eCommerce platform for veterinarians similar to Shopify that simplifies the headaches of creating an online store.
                </p>
                <p class="card-text">
                    Comes setup with secure online payments through Stripe, shipping through Purolator, 28 different templates to choose from, and a large catalog of products ready to sell to their customers.
                </p>
                <p class="card-text">
                    Current grossed over 500k and has a userbase of veterinarian clinics across Canada.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="https://www.clientvantage.ca" class="btn btn-sm btn-outline-secondary">Landing page</a>
                        <a href="https://demo.clientvantage.ca/" class="btn btn-sm btn-outline-secondary">Demo site</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <span><a href="http://www.codohue.ca" target="_blank">Cố Đô Huế</a></span>
            </div>
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
                <p class="card-text">
                    A fun one page website using an amazing template named <a href="https://themes.getbootstrap.com/product/touche-cafe-restaurant-theme/">Touché</a>.  Hosted on Apache and sitting on a Digital Ocean droplet.
                    Edmonton's best Vietnamese food!  A nice site I made for a close friend of mine to help promote his amazing restaurants.
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="http://www.codohue.ca" class="btn btn-sm btn-outline-secondary">Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>