@model IndexViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<section id="intro">
    <div class="p-5 text-center">
        <h1 class="display-4">Full stack developer</h1>
        <p class="lead text-muted">
            @Localizer["IntroMessage"]
        </p>
        <img src="~/img/avataaars.png" class="img-avatar"/>
    </div>
</section>
<partial name="_Experience" for="Experience" />
<partial name="_Portfolio" />
